body{
  overflow: hidden;
}

.toastify{
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: aqua;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(200%);
  transition: transform 0.4s ease-in;
  z-index: 9999999;
}