body{
  overflow: hidden;
}

.toastify{
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: aqua;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(200%);
  transition: transform 0.4s ease-in;
  z-index: 9999999;
}

.card{
  max-width: 600px;
  margin: 200px auto;
  min-height: 250px;
}

.modal-toast{
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.hide-toast{
  transform: translateY(-200%);
}